body {
  font-family: sans-serif;
  margin: 20px;
  color: #333;
}
.form-area {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
}
button {
  padding: 10px 20px; 
  cursor: pointer; 
  background: #3ecf8e; 
  border: none;
  color: white; 
  border-radius: 4px; 
  font-weight: bold; 
}
button:hover { 
  background: #34b27b; 
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 10px; 
}

th, td { 
  border: 1px solid #ddd; 
  padding: 12px; 
  text-align: left; 
}

th { 
  background-color: #eee; 
}

tr:nth-child(even) { 
  background-color: #fcfcfc; 
}

tr:hover { 
  background-color: #f1f1f1; 
}
